  .thread-parent-container {
    margin: 0 auto;
    padding: 0 15px;
    width: 80%;
  }

  .thread-container {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 2px;
    border-radius: 4px;
    display: flex;
    margin-bottom: 10px;
  }
    .thread-stats {
      width: 10%;
      padding: 5px;
      text-align: center;
    }

  .vote-count {
    text-align: center;
    color:blue;
  }

  .vote-button {
    height: 24px;
    width: 24px;
  }

  .up-vote:hover {
    color: blue;
  }

  .down-vote:hover {
    color: red;
  }
      
  .thread-wrapper {
    width: 90%;
    padding: 5px;
  }
  .thread-title {
    font-size: 16px;
    padding-bottom: 2px;
  }
  .thread-details, .thread-comments {
    font-size: 12px;
    color: #787c7e;
  }

  .icon {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
  }

  button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
  }

  .detail-page {
    display: flex;
    border: 1px solid #ccc;
  }

  .back-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: flex;
    margin-bottom: 15px;
  }